@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
 body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#b0b300,#b38900, #ffffff )
 }
 

 .container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
 }

 .form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3f3f98;
    padding: 1rem;
 }
 
 .form-image img {
    width: 31rem;
 }

 .form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
 }

 .form-hearder{
    margin-bottom: 3rem;
 }

 .login-button{
    display: flex;
    align-items: center;
 }

 .login-button button{
    border: none;
    background-color: #e67a00;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
 }

 .login-button button:hover{
    background-color: #ffa55cc4;
 }

 .login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
 }

 .form-hearder h1::after{
    content:'';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #e67a00;
    position: absolute;
    margin: 0 auto;
    border-radius: 10px;
 }

 .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
 }

 .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
 }

 .input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #200a001c;
 }